<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup form</title>
</head>
<body>
    <p> Hi welcome to small flask project by Garima</p>
    <p> creating simple form </p>

    <h1>Signup Form</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form action="/" method="post">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Sign Up">
    </form>
</html>